/*Reset*/
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

.encabezado {
  color: #ffffff;
  background: linear-gradient(to right, #000000, #434343);
  position: fixed; /*al scrollear permanece fijo en pantalla*/
  width: 100%; /*ocupamos el 100% de ancho*/
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}
.encabezado .logo {
  width: 100px;
  height: 100px;
}
.encabezado .titulo-nav {
  font-family: "Nunito", sans-serif;
  font-style: oblique;
  align-self: center;
  font-size: 2em;
}
.encabezado .button {
  background-color: #000000;
  border: none;
  display: none;
}
.encabezado .button .svg {
  background-color: #434343;
  width: 3em;
  height: 3em;
  padding: 5px;
  fill: #ffffff;
}
.encabezado .nav .menu {
  background-color: rgba(0, 0, 0, 0.1294117647);
  border-radius: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 0;
  padding-left: 0;
}
.encabezado .nav .menu .li {
  font-family: "Nunito", sans-serif;
  list-style: none;
}
.encabezado .nav .menu .li .link1 { /*Link del nav*/
  margin: 0.3em;
  color: #ffffff;
  text-decoration-line: none;
  font-size: 14px;
}
.encabezado .nav .menu .li:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: #000000;
  border-radius: 1em;
}
.encabezado .nav .active { /*background del html del nav actual*/
  border-radius: 10px;
  background-color: #c2ad43;
}

.main {
  background-color: #000000;
}

.presentacion-container {
  background-image: url(/media/background2.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  border-bottom: 1px solid #ffffff;
  border-radius: 2em;
}
.presentacion-container .presentacion {
  margin-left: 10%;
  height: 100vh;
  width: 50%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}
.presentacion-container .presentacion h1 {
  font-size: 2.5em;
  font-weight: 700;
  color: #ffffff;
}
.presentacion-container .presentacion p {
  text-align: center;
  color: #ffffff;
  margin-top: 1em;
}
.presentacion-container .presentacion button {
  margin-top: 3em;
}
.presentacion-container .presentacion button a {
  color: #ffffff;
  text-decoration: none;
}
.presentacion-container .presentacion:hover h1 {
  color: #ffff00;
  font-size: 3.5em;
  transition: font-size 1s, color 2s;
}
.presentacion-container .presentacion:hover p {
  font-size: 1.5em;
  transition: font-size 1s;
}

/*actividades*/
.carousel .carousel-caption {
  top: 50%;
}
.carousel .carousel-caption h2 {
  align-content: center;
  color: #ffff00;
}
.carousel .carousel-caption p {
  color: #ffffff;
}
.carousel img {
  filter: brightness(30%);
}

/*css html prueba-movepoint*/
.prueba-container {
  background-image: url(/media/background3.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  height: 100vh;
  width: 100%;
  text-align: center;
}
.prueba-container .titulo {
  font-size: 2em;
  position: relative;
  top: 60vh;
  color: #ffffff;
}

.formulario {
  background-color: rgba(128, 128, 128, 0.8784313725);
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}
.formulario .form {
  margin-left: 100px;
  margin-right: 100px;
}
.formulario .form .rellenar {
  padding: 5px;
  width: 50%;
}
.formulario .form .col-md-12 {
  padding: 5px;
  margin-top: 20px;
  width: 100%;
}

.sumate {
  background-image: url(/media/funcional.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  text-align: center;
}
.sumate .titulo {
  font-size: 2em;
  position: relative;
  top: 60vh;
  color: #ffff00;
}
.sumate .button-sumate {
  margin-top: 3em;
}

.sumate-entrena {
  text-align: center;
  padding-top: 3em;
  color: #D97D0D;
}

.asesor {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
}
.asesor a {
  text-decoration-line: none;
}

.row {
  margin-top: 3em;
  --bs-gutter-x: 0;
  justify-content: space-around;
}

/*Footer*/
.footer {
  color: #6f6f6f;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #000000;
}
.footer .contacto {
  padding: 20px;
}
.footer .contacto figure {
  display: flex;
  align-items: center;
}
.footer .contacto figure img {
  width: 100px;
  height: 100px;
}
.footer .contacto svg {
  width: 16px;
  height: 16px;
}
.footer .map {
  height: 200px;
  width: 400px;
}
.footer .map .mapa {
  width: 100%;
  height: 100%;
}

/*Tablet*/
@media (max-width: 768px) {
  .encabezado {
    background-color: #000000;
  }
  .encabezado .nav {
    width: 100%;
    display: none;
    box-shadow: 0 0 0 100vmax black;
  }
  .encabezado .nav .activo {
    display: block;
  }
  .encabezado .nav .menu { /*el menu se hace en modo columna*/
    flex-direction: column;
  }
  .encabezado .nav .menu .li { /*Margin por arriba y por abajo*/
    margin: 1em 0;
  }
  .encabezado .button { /*Se muestra el boton en esta resolucion*/
    display: block;
    cursor: pointer;
  }
  /*nav*/
  .encabezado .nav.activo {
    display: block;
  }
  /*Inicio*/
  .presentacion-container .presentacion {
    margin-left: 0;
    width: 100%;
    align-content: center;
  }
  .presentacion-container .presentacion h1 {
    font-size: 2em;
  }
  .presentacion-container .presentacion p {
    font-size: 1em;
  }
  .presentacion-container .presentacion:hover h1 {
    font-size: 3em;
  }
  .presentacion-container .presentacion:hover p {
    font-size: 1.5em;
  }
  /*actividades*/
  .carousel .carousel-caption {
    top: 20%;
  }
  .carousel .carousel-caption h2 {
    font-size: 20px;
  }
  .carousel .carousel-caption p {
    font-size: 15px;
  }
  /*footer*/
  .footer {
    padding-bottom: 20px;
    flex-flow: column wrap;
  }
  .footer .map {
    height: 200px;
    width: 250px;
    margin-bottom: 30px;
  }
  /*Prueba movepoint*/
  .rellenar {
    width: 100%;
    margin-top: 20px;
  }
  .form {
    margin-left: 30px;
    margin-right: 30px;
  }
  /*Sumate ya*/
  .abonos {
    padding: 20px;
  }
}
/*Mobile*/
@media (max-width: 576px) {
  .encabezado {
    justify-content: space-evenly;
  }
  .encabezado .titulo-nav {
    font-size: 1.5em;
  }
  .encabezado .logo {
    height: 80px;
    width: 80px;
  }
  .encabezado .button .svg {
    width: 2em;
    height: 2em;
  }
  .presentacion-container {
    width: 100%;
  }
  .presentacion-container .presentacion h1 {
    font-size: 1.5em;
  }
  .presentacion-container .presentacion:hover h1 {
    font-size: 2em;
  }
  .presentacion-container .presentacion:hover p {
    font-size: 1.2em;
  }
  .carousel .carousel-caption {
    top: 10%;
  }
  .contacto p {
    font-size: 12px;
  }
}

/*# sourceMappingURL=main.css.map */
