@charset "UTF-8";
/*Reset*/
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

.encabezado {
  color: #ffffff;
  background-color: rgba(13, 13, 13, 0);
  position: fixed; /*al scrollear permanece fijo en pantalla*/
  width: 100%; /*ocupamos el 100% de ancho*/
  display: flex; /*Necesario para configurar la box*/
  flex-flow: row wrap; /*es una abreviatura de las propiedades flex-direction: row y flex-wrap: nowrap. Flex-wrap especifica si los elementos "hijos" deben permanecer en una misma línea o pueden fluir en varias líneas. Si se permite la cobertura (wrap), esta propiedad también permite controlar la dirección en la que se apilarán los elementos. */
  justify-content: space-around; /*Separa el contenido*/
  align-items: center; /*alinea los items, en este caso center lo hace en el centro verticalmente hablando*/
  z-index: 1;
}
.encabezado .titulo-nav {
  font-family: "Nunito", sans-serif;
  font-style: oblique;
  align-self: center;
  font-size: 200%;
}
.encabezado .button {
  background-color: #1c1c1c;
  display: none;
}
.encabezado .button .svg {
  width: 2em;
  height: 2em;
  padding: 5px;
  fill: white;
}
.encabezado .nav .menu {
  background-color: #1c1c1c;
  border-radius: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 0;
  padding-left: 0;
}
.encabezado .nav .menu .li {
  font-family: "Nunito", sans-serif;
  list-style: none;
}
.encabezado .nav .menu .li .link1 { /*Link del nav*/
  margin: 0.3em;
  color: #ffffff;
  text-decoration-line: none;
  font-size: 14px;
}
.encabezado .nav .li:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: #000000;
  border-radius: 1em;
}
.encabezado .nav .active { /*background del html del nav actual*/
  border-radius: 10px;
  background-color: #c2ad43;
}

.main {
  background-color: #000000;
}

.presentacion-container {
  background-image: url(../media/background2.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  border-bottom: 1px solid white;
  border-radius: 2em;
}
.presentacion-container .presentacion {
  margin-left: 5%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  flex-flow: column wrap;
}
.presentacion-container .presentacion h1 {
  font-size: 3em;
  font-weight: 700;
  color: #ffffff;
}
.presentacion-container .presentacion p {
  text-align: center;
  color: #F2F2F2;
  margin-top: 1em;
}
.presentacion-container .presentacion button {
  margin-top: 3em;
}
.presentacion-container .presentacion button a {
  color: #F2F2F2;
  text-decoration: none;
}

/*actividades*/
.carousel .carousel-caption {
  top: 50%;
}
.carousel .carousel-caption h2 {
  align-content: center;
  color: #ffff00;
}
.carousel .carousel-caption p {
  color: #F2F2F2;
}
.carousel img {
  filter: brightness(30%);
}

/*css html prueba-movepoint*/
.prueba-container {
  background-image: url(../media/background3.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  text-align: center;
}
.prueba-container .titulo {
  font-size: 2em;
  position: relative;
  top: 60vh;
  color: #ffff00;
}

.formulario {
  background-color: rgba(46, 46, 58, 0.8784313725);
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}
.formulario .form {
  margin-left: 100px;
  margin-right: 100px;
  padding: 20px;
}
.formulario .form .rellenar {
  width: 50%;
}
.formulario .form .col-md-12 {
  margin-top: 20px;
  width: 100%;
  padding-bottom: 50px;
}

.sumate {
  background-image: url(../media/funcional.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  text-align: center;
}
.sumate .titulo {
  font-size: 2em;
  position: relative;
  top: 60vh;
  color: #ffff00;
}
.sumate .button-sumate {
  margin-top: 3em;
}

.sumate-entrena {
  text-align: center;
  padding-top: 3em;
  color: #D97D0D;
}

.asesor {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
}
.asesor a {
  text-decoration-line: none;
}

.row {
  margin-top: 3em;
  --bs-gutter-x: 0;
  justify-content: space-around;
}

/*Footer*/
.footer {
  color: #6f6f6f;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #1c1c1c;
}
.footer .contacto {
  width: auto;
  padding: 20px;
}
.footer .contacto img {
  width: 100px;
  height: 100px;
}
.footer .contacto svg {
  width: 16px;
  height: 16px;
}
.footer .map {
  height: 200px;
  width: 400px;
}
.footer .map .mapa {
  width: 100%;
  height: 100%;
}

/*Tablet*/
@media (max-width: 768px) {
  .encabezado {
    background-color: #1c1c1c;
  }
  .encabezado .nav {
    width: 100%;
    display: none;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }
  .encabezado .nav .activo {
    display: block;
  }
  .encabezado .nav .menu { /*el menu se hace en modo columna*/
    flex-direction: column;
  }
  .encabezado .nav .menu .li { /*Margin por arriba y por abajo*/
    margin: 1em 0;
  }
  .encabezado .button { /*Se muestra el boton en esta resolucion*/
    display: block;
    cursor: pointer;
  }
  /*nav*/
  .encabezado .nav.activo {
    display: block;
  }
  /*Inicio*/
  .presentacion-container {
    align-content: center;
  }
  .presentacion-container .presentacion {
    align-content: center;
  }
  /*actividades*/
  .carousel .carousel-caption {
    top: 20%;
  }
  .carousel .carousel-caption h2 {
    font-size: 20px;
  }
  .carousel .carousel-caption p {
    font-size: 15px;
  }
  /*footer*/
  .footer {
    padding-bottom: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
  }
  .footer .map {
    height: 200px;
    width: 250px;
    margin-bottom: 30px;
  }
  /*Prueba movepoint*/
  .rellenar {
    width: 100%;
    margin-top: 20px;
  }
  .form {
    margin-left: 30px;
    margin-right: 30px;
  }
  /*Sumate ya*/
  .abonos {
    padding: 20px;
  }
}
/*Mobile*/
@media (max-width: 576px) {
  .presentacion h1 {
    font-size: 2em;
  }
  .carousel .carousel-caption {
    top: 10%;
  }
  .contacto p {
    font-size: 12px;
  }
}

/*# sourceMappingURL=main.css.map */
