/*actividades*/
.carousel .carousel-caption {
    top: 50%;
    h2 {
        align-content: center;
        color: #ffff00;
    }
    p {
        color: #F2F2F2;
    }
}

.carousel img {
    filter: brightness(30%);
    
}


