/*actividades*/
.desplegable{
    .info-slider {
        top: 50%;
        h3{
            align-content: center;
            color: $yellow;
        }
        p {
            color: $white;
        }  
    }
    img {
        filter: brightness(30%);
        
    }
}



