.main{
    background-color: $black;
}
.presentacion-container {
    background-image: $bg-img-index;
    @include posiciones-imagenes (center, cover,100vh) ;
    
    --animate-duration: 2s;
    .presentacion{
        margin-left: 10%;
        height: 100vh;
        width: 50%;
        @include flex (column wrap, center, center);
        align-content: flex-start ;
        
        h1{
            font-size: 2.5em;
            font-weight: 700;
            color: $white;
        
        }
        p{
            text-align: center;
            color: $white;
            margin-top: 1em;
        }
        button {
            margin-top: 3em;
            a {
                color: $white;
                text-decoration: none;   
            }
        }
        
    }
    .presentacion:hover {
        h1 {
            color: $yellow;
            font-size: 3.5em;
            transition: font-size 1s, color 2s;
        }
        p{
            font-size: 1.5em;
            transition: font-size 1s;
        }
    }
}

