.sumate{
    background-image: $bg-img-sumate;
    @include posiciones-imagenes (center, cover, 100vh) ;
    text-align: center;
    .titulo {
        font-size: 2em;
        position: relative;
        top: 60vh;
        color: $yellow;
    }
    
    .button-sumate {
        margin-top: 3em;
        height: 70px;
        width: 70px;

    }
}

.sumate-entrena{
    text-align: center;
    padding-top: 3em;
    color: #D97D0D ; 
}
.asesor{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
    a{
        text-decoration-line: none;
    }
}

.row {
    margin-top: 3em;
    --bs-gutter-x: 0;
    justify-content: space-around;
    img {
        width: 100%;
    }
}