//Colores
$black: #000000;
$white: #ffffff;
$yellow: #ffff00;
$grey: #808080e0;
//Tipografia
//Tamaños
//Estructura de tipografia
//Background
$bg-img-index: url(/media/background2.jpg) ;
$bg-img-prueba: url(/media/background3.jpg) ;
$bg-img-sumate: url(/media/funcional.jpg) ;